.App {
  text-align: center;
}



.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  color: #007272;
  font-family: Verdana, Helvetica, Sans-Serif;
}

h1 {

  border-bottom: 1px #009191;
  width: 50%;
  margin: 25px 0px 30px 0px;
}

.BankAccount {
  width: 40%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #007272;
  background-color: white;
}

legend {

  color: black;
  font-size: 16pt;
  font-weight: bold;
}

.deposit{
  color: red;
}


